.App {
  .AppLogo {
    height: 4em;
    color: red;
  }
  .AppTitle {
    display: inline-block;
    color: red;
  }
}


.originPlace, .destinationPlace, .pickUpAddress {
  display: inline-block;
  width: 30%;
  margin: 1em;
  div{
    color: blue;
  }
}
